<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>ADMINISTRACIÓN</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <meta http-equiv="content-language" content="es" />
    <link rel="stylesheet" href="../css/miestilo.css">
    <script languaje="javascript" src="../mathjs/math.min.js"></script>
    <script languaje="javascript" src="../cifrado/aes.js">/* AES JavaScript implementation */</script>
    <script languaje="javascript" src="../cifrado/aes-ctr.js">/* AES Counter Mode implementation */</script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>-->
    <script type="text/javascript" src="../js/md5.js"></script>
    <!--<script type="text/javascript" src="../mijs/encriptador.js"></script>-->
    <script src="../mijs/encriptador.js"></script>
    <script src="../js/jsencrypt.min.js"></script>
    <script src="../mijs/desencriptakk.js"></script>

    <!--<script type="text/javascript" src="../mijs/generador.js"></script>-->
    <script type="text/javascript" src="../mijs/generadorAdultos.js"></script>
    <script type="text/javascript" src="../mijs/validar.js"></script>
    <script type="text/javascript" src="../mijs/encriptador.js"></script>
    <script type="text/javascript" src="../js/jspdf.debug.js"></script>
    <script type="text/javascript">
        let inscripciones = JSON.parse(localStorage.getItem('inscripciones')) || [];
        let aPresentar = [];
        //alert(localStorage.getItem('inscripciones'));
        function getAbsolutePath() {
            var loc = window.location;
            var pathName = loc.pathname;//.substring(0, loc.pathname.lastIndexOf('/') + 1);
            return loc.href.substring(0, loc.href.length - ((loc.pathname + loc.search + loc.hash).length - pathName.length));
        }
        function normalizaFecha(date) {
            if (date) {
                let dd = new Date(date);
                return dd.getDay() + '/' + (dd.getMonth() + 1) + '/' + dd.getFullYear() + ' ' + dd.getHours() + ':' + dd.getMinutes();
            } else return '';
        }
        const cargaOperaciones= async ()=>{alert('se lanza')
            if(operacionesPendientes){
            const miFetch = await fetch(getAbsolutePath() + '/update', {
                headers: {
                    'Content-type': 'application/json'
                },
                method: 'POST',
                //body: JSON.stringify({ id: 11, name: 'Rodrigo Díaz de Vivar', username: 'El Cid' })
                body: JSON.stringify(totalOperaciones)
            });
            // Transforma la respuesta. En este caso lo convierte a JSON
            const json = await miFetch.json();
            //alert('se han hecho:\n'+JSON.stringify(json));
            json.forEach(inscripcion=>{
                let actualiza=aPresentar.find(ins => ins.id === inscripcion.id);
                //alert(JSON.stringify(actualiza));
                //alert(JSON.stringify(inscripcion));
                ['nequipo', 'estado','recibida'].forEach(item => {
                        if(actualiza[item]!==inscripcion[item])actualiza[item] = inscripcion[item];
                });
            })
            localStorage.setItem('inscripciones',JSON.stringify(inscripciones));
            totalOperaciones = {};
            operacionesPendientes = false;
            //alert(JSON.stringify(aPresentar));
            document.getElementById('decrip').innerHTML = CreaTablaInscripciones(aPresentar);
            
        }else{
            alert('nada que actualizar');
        }
		//document.getElementById('instante').value=Math.floor(new Date().getTime()/1000);
		/*var texto="";var n=0;var aux='';
		for(var i in totalOperaciones){//alert(i);
			aux=totalOperaciones[i][0]+'a'+totalOperaciones[i][1]+'a'+totalOperaciones[i][2];
			if(n++==0){ texto+=aux;			
			}else texto+='b'+aux;
		}
		//texto+=' ]';
		document.getElementById('operaciones').value=texto;//alert(texto);
		//document.getElementById('operaciones').value=JSON.stringify(totalOperaciones);
		totalOperaciones={};
		operacionesPendientes=false;*/
	}
        const OrdLocal = (criterio) => { //alert('se emtra');
            //alert (criterio);
            //alert(miArrayDeObjetos[0]['ID']);
            //miArrayDeObjetos.sort(function(a, b) {  return  a[criterio] > b[criterio] ? 1 : -1; }); //alert('se etra');
            let ordenamos = true;
            if (operacionesPendientes) {
                ordenamos = confirm('Si ordenamos se cancelaran los cambios planificados en la lista')
            }
            if (ordenamos) {
                totalOperaciones = {};
                operacionesPendientes = false;

                let indice;
                switch (criterio) {
                    case 'NEQUIPO': indice = 'nequipo'; break;
                    case 'NSOL': indice = 'nsol'; break;
                    case 'TIPO': indice = 'tipo'; break;
                    case 'CODCENTRO': indice = 'cod_centro'; break;
                    //case 'RESPONSABLE': indice=cod_centro;break;
                    case 'SOLICITADA': indice = 'solicitada'; break;
                    case 'RECIBIDA': indice = 'recibida'; break;
                    case 'ESTADO': indice = 'estado'; break;
                };
                if (criterio === 'RESPONSABLE') {
                    aPresentar.sort(function (a, b) { return a['ApP1'] + ' ' + a['ApP2'] + ', ' + a['NomP'] > b['ApP1'] + ' ' + b['ApP2'] + ', ' + b['NomP'] ? 1 : -1; }); //alert('se etra');
                } else aPresentar.sort(function (a, b) { return a[indice] > b[indice] ? 1 : -1; }); //alert('se etra');
                //alert(miArrayDeObjetos[0]['ID']);
                //Alocal();
                document.getElementById('decrip').innerHTML = CreaTablaInscripciones(aPresentar);
            }
        }
        let totalOperaciones = {};
        let operacionesPendientes = false;
        const registraOperacion = (op) => {
            let objeto = op.split(',');//alert(objeto);
            if (objeto[2] < 0) {
                delete totalOperaciones[objeto[0] + objeto[1]];
            }
            else totalOperaciones[objeto[0] + objeto[1]] = objeto;
            operacionesPendientes = true;
            //alert(op+'registrado'+objeto+';'+JSON.stringify(totalOperaciones));
        }
        const CreaTablaInscripciones = (seleccion) => {
            let cabecera = `<tr><th>ACCIÓN</th><th>ID</th><th class="ordenable" onclick="OrdLocal('NEQUIPO')">NºEQUIPO</th><th class="ordenable" onclick="OrdLocal('NSOL')">NSOL</th><th>CLAVE</th><th class="ordenable" onclick="OrdLocal('TIPO')">TIPO</th><th class="ordenable" onclick="OrdLocal('CODCENTRO')">CENTRO</th><th>ALUMNOS</th><th class="ordenable" onclick="OrdLocal('RESPONSABLE')">RESPONSABLE</th><th class="ordenable" onclick="OrdLocal('SOLICITADA')">SOLICITADA</th><th class="ordenable" onclick="OrdLocal('RECIBIDA')">RECIBIDA</th><th class="ordenable" onclick="OrdLocal('ESTADO')">ESTADO</th></tr>`;
            let cuerpo = '';
            //alert('seEntra ' + JSON.stringify(seleccion))
            seleccion.forEach(caso => {//alert(id);
                let inscripcion = inscripciones.find(ins => ins.id === caso.id);
                let accion;
                let id = caso.id;
                switch (inscripcion.estado) {
                    case 0: accion = 'GENERADA'; break;
                    case 1: accion = 'RECIBIDA'; break;
                    case 2: accion = 'ADMITIDA'; break;
                    case 3: accion = 'LESPERA'; break;
                    case 4: accion = 'ANULADA'; break;
                };//alert(id+accion);
                let cuerpoAdd = `<td class="${accion}"><select onchange="registraOperacion(this.value);"><option value="ESTADO,${id}, -1" selected="selected"></option><option value="ESTADO,${id}, 0">GENERADA</option><option value="ESTADO,${id},1">RECIBIDA</option><option value="ESTADO,${id},2">ADMITIDA</option><option value="ESTADO,${id}, 3">L. ESPERA</option><option value="ESTADO,${id}, 4">ANULADA</option></select></td><td>${id}</td><td><input type="text" name="pin${id}" id="pin${id}" maxlength="3" size="3" onchange=";registraOperacion('NEQUIPO,${id}, '+this.value+'')" value="${inscripcion.nequipo || ''}"></td><td>${inscripcion.nsol}</td>
            <td>${inscripcion.clave.substring(0, 8)}<br>${inscripcion.clave.substring(8, 16)}<br>${inscripcion.clave.substring(16, 24)}<br>${inscripcion.clave.substring(24)}</td><td class="${inscripcion.tipo}">${inscripcion.tipo.substring(0, 1).toUpperCase()}</td>
                    <td>${inscripcion.cod_centro}<br> ${inscripcion.nombre_centro}<br>(${inscripcion.loc_centro})</td><td onclick="muestraEditor(0);" class="editable"><a name="filaEd0"><table><tbody>
                    <tr><td>${inscripcion.Ap11} ${inscripcion.Ap12}, ${inscripcion.Nombre1} ( ${inscripcion.Edad1 || ''})</td></tr>
                    <tr><td>${inscripcion.Ap21} ${inscripcion.Ap22}, ${inscripcion.Nombre2} ( ${inscripcion.Edad2 || ''})</td></tr>
                    <tr><td>${inscripcion.Ap31} ${inscripcion.Ap32}, ${inscripcion.Nombre3} ( ${inscripcion.Edad3 || ''})</td></tr>
                    <tr><td>${inscripcion.Ap41} ${inscripcion.Ap42}, ${inscripcion.Nombre4} ( ${inscripcion.Edad4 || ''})</td></tr></tbody></table></a></td>
                    <td><table><tbody><tr><td>${inscripcion.ApP1} ${inscripcion.ApP2}, ${inscripcion.NomP}</td></tr><tr><td>${inscripcion.TelP1}/ ${inscripcion.TelP2}</td></tr><tr><td>${inscripcion.EmailP}</td></tr></tbody></table></td>
                    <td>${normalizaFecha(inscripcion.solicitada)}</td><td>${normalizaFecha(inscripcion.recibida)}</td><td class="${accion}">${accion}<br>(<b>${inscripcion.estado}</b>)</td></tr>`;
                cuerpo += cuerpoAdd;
            })
            //f3c3108138a84ea9b1ce32c8679cfa8d
            //alert(cabecera);
            //alert(cuerpo);
            //alert('<table style="text-align: center; width: 100% ;" cellspacing="1" cellpadding="1" border="1"><tbody>'+cabecera+cuerpo+'</tbody></table>');
            return '<table style="text-align: center; width: 100% ;" cellspacing="1" cellpadding="1" border="1"><tbody>' + cabecera + cuerpo + '</tbody></table>';

        }
        const LanzaCargaCambioEstado = async () => {
            let yincana = document.getElementById('localidad').value;
            let estado = document.getElementById('estado').value;
            let diaIn = document.getElementById('diaIn').value;
            let mesIn = document.getElementById('mesIn').value;
            let diaFin = document.getElementById('diaFin').value;
            let mesFin = document.getElementById('mesFin').value;
            let fechaIn = Atimestamp(diaIn, mesIn);
            let fechaFin = Atimestamp(diaFin, mesFin);
            //alert(getAbsolutePath());
            const miFetch = await fetch(getAbsolutePath() + '/get', {
                headers: {
                    'Content-type': 'application/json'
                },
                method: 'POST',
                //body: JSON.stringify({ id: 11, name: 'Rodrigo Díaz de Vivar', username: 'El Cid' })
                body: JSON.stringify({ yincana, estado, fechaIn, fechaFin })
            });
            // Transforma la respuesta. En este caso lo convierte a JSON
            const json = await miFetch.json();
            //alert(json.length);
            let seModificaIns = false;
            aPresentar = [];
            json.forEach(element => {//alert('sii');
                //aPresentar.push(element.id);
                let inscripcion = inscripciones.find(ins => ins.id === element.id);
                //alert('llll: '+JSON.stringify( inscripcion));
                let claveAES;
                let resultado;
                let seAnnade = false;
                let nuevoElemento = {};//alert(inscripcion)
                if (!inscripcion) {//alert('hhhh');
                    seModificaIns = true;
                    claveAES = desencriptakk(element.encr, clavesPrivadas[+element.yincanaId - 1]);
                    resultado = JSON.parse(Aes.Ctr.decrypt(element.valor, claveAES, 256));
                    ['id', 'nequipo', 'nsol', 'clave', 'valor', 'solicitada', 'recibida', 'estado', 'yincanaId', 'updatedAt'].forEach(item => {
                        nuevoElemento[item] = element[item];
                    });
                    nuevoElemento['claveAES'] = claveAES;
                    ['texto_centro', 'tipo', 'nombre_centro', 'loc_centro', 'cod_centro',
                        'Ap11', 'Ap12', 'Nombre1', 'Edad1',
                        'Ap21', 'Ap22', 'Nombre2', 'Edad2',
                        'Ap31', 'Ap32', 'Nombre3', 'Edad3',
                        'Ap41', 'Ap42', 'Nombre4', 'Edad4',
                        'ApP1', 'ApP2', 'NomP', 'TelP1', 'TelP2', 'EmailP'].forEach(item => {
                            nuevoElemento[item] = resultado[item];
                        })
                    seAnnade = true;//se ha creado uno nuevo.
                } else if (inscripcion.updatedAt < element.updatedAt) {
                    seModificaIns = true;
                    nuevoElemento = inscripcion;
                    ['id', 'nequipo', 'nsol', 'clave', 'valor', 'solicitada', 'recibida', 'estado', 'yincanaId', 'updatedAt'].forEach(item => {
                        nuevoElemento[item] = element[item];
                    });
                    //alert('se modifica el valor antiguo');
                    if (inscripcion.valor !== element.valor) {
                        resultado = JSON.parse(Aes.Ctr.decrypt(element.valor, inscripcion.claveAES, 256));
                        ['texto_centro', 'tipo', 'nombre_centro', 'loc_centro', 'cod_centro',
                            'Ap11', 'Ap12', 'Nombre1', 'Edad1',
                            'Ap21', 'Ap22', 'Nombre2', 'Edad2',
                            'Ap31', 'Ap32', 'Nombre3', 'Edad3',
                            'Ap41', 'Ap42', 'Nombre4', 'Edad4',
                            'ApP1', 'ApP2', 'NomP', 'TelP1', 'TelP2', 'EmailP'].forEach(item => {
                                nuevoElemento[item] = resultado[item];
                            });
                    }


                }
                //claveAES=desencriptakk(element.encr, clavesPrivadas[+element.yincanaId-1]);
                //resultado=JSON.parse(Aes.Ctr.decrypt(element.valor,claveAES,256));

                //alert(JSON.stringify(resultado));
                if (seAnnade) {
                    inscripciones.push(nuevoElemento);
                    aPresentar.push(nuevoElemento);
                } else aPresentar.push(inscripcion);
            });
            if (seModificaIns) localStorage.setItem('inscripciones', JSON.stringify(inscripciones));
            //alert(JSON.stringify(inscripciones))
            //alert(JSON.stringify(json));
            //alert(aPresentar);
            document.getElementById('decrip').innerHTML = CreaTablaInscripciones(aPresentar);
            //alert(yincana+' +++ '+estado+' +++ '+diaIn+' +++ '+mesIn+' jj '+diaFin+' +++ '+mesFin+' fechas '+fechaIn+' +++ '+fechaFin);
        }

        const Atimestamp = (dia, mes) => {
            if (dia.trim() === '' || mes === '') {
                return '';
            } else {
                let anno = new Date().getFullYear();
                return new Date(anno, mes, dia).getTime();
            }
        }
    </script>
</head>

<body>
    <div style="display: inline;"><textarea id="cPrivada" name="input" type="text" rows=4
            cols=70>Aquí se pone la clave privada</textarea>
        <input type="file" id="file-input" /> ++CLAVE ADMINISTRADOR: <input type="password" id="CAdmin">
        <!--<h3>Contenido del archivo:</h3>
<pre id="contenido-archivo"></pre>-->

    </div>
    <div>
        <a name="posicionEdicion">LOCALIDAD:</a>
        <select id="localidad" onchange="alert(this.value);//LanzaCambioLocalidad(this.value);">
            <% for (let i=0;i<yincanas.length;i++){ %>
                <option id="<%= yincanas[i].utilidad %>" value="<%= yincanas[i].id %>" %>
                    <% if (i===0) { %>
                        <%= 'selected' %>
                            <% } %>><%= yincanas[i].utilidad %>
                </option>
                <% } %>

        </select>
        ESTADO DE SOLICITUD:<select id="estado" onchange="document.getElementById('ESTADO').value=this.value;">
            <option value=""></option>
            <option value="100" selected>Ni ANULADAs ni DESPLAZADAs</option>
            <option value="0">GENERADA</option>
            <option value="1">RECIBIDA</option>
            <option value="2">ADMITIDA</option>
            <option value="3">L. ESPERA</option>
            <option value="4">ANULADA</option>
            <option value="5">DESPLAZADA</option>
            <option value="12">REC., ADMITIDA y L.ESP.</option>
        </select>
        FECHA ENTRE <input id="diaIn" type="text" maxlength="2" size="2"
            onchange="document.getElementById('FECHAINI').value=Atimestamp(this.value,document.getElementById('mesIn').value)">
        /
        <select id="mesIn"
            onchange="document.getElementById('FECHAINI').value=Atimestamp(document.getElementById('diaIn').value, this.value)">
            <option value=""></option>
            <option value="1">FEBRERO</option>
            <option value="2">MARZO</option>
            <option value="3">ABRIL</option>
        </select>
        Y <input id="diaFin" type="text" maxlength="2" size="2"
            onchange="document.getElementById('FECHAFIN').value=Atimestamp(this.value,document.getElementById('mesFin').value)">
        /
        <select id="mesFin"
            onchange="document.getElementById('FECHAFIN').value=Atimestamp(document.getElementById('diaFin').value, this.value)">
            <option value=""></option>
            <option value="1">FEBRERO</option>
            <option value="2">MARZO</option>
            <option value="3">ABRIL</option>
        </select>

        BORRA LO GUARDADO: <input type="button" value="borra"
            onclick="localStorage.removeItem('inscripciones');alert(localStorage.getItem('inscripciones'))">
        <br>
        ORDENADO POR F. REC. <input type="checkbox" value="1"
            onchange="document.getElementById('ORDRECV').value=this.checked">
    </div>
    <div align="center"><progress id="miBarra" max="100" value="0"
            onchange="/*alert('..');A(msgDisp,completado);alert('..')*/"></progress><span id="miAvance">0%</span></div>
    <br />
    <!--<input id="acceder" type="button" value="acceder" onclick="haHabidoEdicion=false;ocultaEditor();document.getElementById('reiframe').style.visibility='visible';document.getElementById('decrip').innerHTML='';iniciaBarra();/*cucu=setInterval(gestBarra, 1000);*/LanzaConexion();cargaOperaciones();document.getElementById('genk').submit();" />-->
    <input id="acceder" type="button" value="acceder" onclick="LanzaCargaCambioEstado();" />
    <input id="aCSV" type="button" value="aCSV" onclick="AjustaSalida();arrayObjToCsv(arraySalida);" />
    <input id="CambiaEstadosSinRecargar" type="button" value="CambiaEstadosSinRecargar"
        onclick="/*LanzaCargaCambioEstadoSin();*/cargaOperaciones();" />
    <input id="BuscaDuplicados" type="button" value="BuscaDuplicados" onclick="BuscaDuplicados();" />
    <input id="kkk" type="button" value="kkk" onclick="if(!completado) A(msgDisp,completado)"
        style="visibility:hidden" />
    <input id="kkkk" type="button" value="kkkk" style="visibility:hidden" />
    <form id="genk" action="paso2.php" target="resk" method="POST">
        <input type="hidden" id="cliente" name="cliente" value="0">
        <input type="hidden" id="ClaveAdmin" name="ClaveAdmin" value="0">
        <input type="hidden" id="MD5KprivEncr" name="MD5KprivEncr" value="0">
        <input type="hidden" id="BDATOS" name="BDATOS" value="INSCRIPCIONES_BOMO">
        <input type="hidden" id="ESTADO" name="ESTADO" value="100">
        <input type="hidden" id="FECHAINI" name="FECHAINI" value="">
        <input type="hidden" id="FECHAFIN" name="FECHAFIN" value="">
        <input type="hidden" id="ORDRECV" name="ORDRECV" value="false">
        <input type="hidden" id="operaciones" name="operaciones" value="">
        <input type="hidden" id="instante" name="instante" value="">
        <!-- parte de edicion de los componentes del grupo -->
        <input type="hidden" id="DatosEditados" name="DatosEditados" value="">
        <input type="hidden" id="IDEditados" name="IDEditados" value="">
        <!-- pare añadida para mover equipos de gymkana -->
        <input type="hidden" id="DatosEditados2" name="DatosEditados2" value="">
        <input type="hidden" id="BDATOS2" name="BDATOS2" value="">
        <input type="hidden" id="ESTADO2" name="ESTADO2" value="">
        <input type="hidden" id="NEQUIPO2" name="NEQUIPO2" value="0">
        <input type="hidden" id="CONTADOR" name="CONTADOR" value="">
        <!--<input type="hidden" id="CLAVE" name="CLAVE" value="">
        <input type="hidden" id="SOLICITADA" name="SOLICITADA" value="">
        <input type="hidden" id="NSOL" name="NSOL" value="">-->
    </form><br>
    <iframe name="frameditar" id="frameditar" src="./edAlumnos.php" width="100%" height="0px"
        style="visibility: hidden;"></iframe>
    <div id="decrip"></div>





    <div id="reiframe" style="visibility: visible;">
        <iframe name="resk" id="resk" src="./info.html" width="100%" height="500px"></iframe>
    </div>


    <script languaje="javascript">
        //function limpiar(){ 
        //    document.body.innerHTML=document.body.innerHTML.split('<span>cortamos por aqui</span>')[0];
        //onload="IniciaCliente();GeneraK();document.getElementById('cliente').value=cliente;document.getElementById('keyCliente').innerHTML='clave='+key;"
        ponEvento();
        IniciaCliente(); GeneraK(); document.getElementById('cliente').value = cliente;//document.getElementById('keyCliente').innerHTML='clave='+key;
//}
//setTimeout(limpiar, 40);

//var myVar=setInterval(function(){ alert("Hello");alert(document.body.innerHTML); clearInterval(myVar);}, 3000);
    </script>
    <!--<br/>
<br/>
<span>cortamos por aqui</span>
<br/>
<br/>-->


</body>

</html>